body {
    background-color: #0b1418;
}

.container {
    margin: 5% auto;
    width: 100%;
}

.header {
    text-align: center;
    background: #b5b5b6;
    color: #214753;
    font-weight: bold;
}

.header h1 {
    display: inline-block;
    margin: 10px;
}

.header .png{
    width: 60px;
    height: 60px;
    display: inline-block;
}

.navigation-bar {
    background-color: #858686;
    text-align: center;
    width: 50%;
    height: 40px;
    margin: 20px auto;
}

.navigation-bar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-bar li {
    display: inline-block;
}

.navigation-bar a {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navigation-bar a:hover {
    background-color: #0b1418;
    color: white;
}

.info-section {
    padding: 10px;
    background-color: #E0EEF7;
    margin: 20px auto;
    text-align: center;
}

.main-section {
    padding: 10px;
    background-color: #E0EEF7;
    width: 50%;
    margin: 20px auto;
}

.footer {
    font-size: small;
    text-align: center;
}

.footer p {
    margin: 0;
    color: white;
}

.text--justified {
    text-align: justify;
}

.text--italic {
    font-style: italic;
}

.text--bold {
    font-weight: bold;
}

.ui-control {
    border-color: #214753;
    background-color: #E0EEF7;
    border-width: 1px;
    padding: 1px;
    font-family: Georgia, serif;
    font-size: 16px;
}

.ui-control:focus {
    outline: none;
}

.ui-button {
    height: 24px;
    padding-left: 2px;
    padding-right: 2px;
}

.ui-input {
    height: 20px;
}

.ui-textarea {

}

.hidden {
    display: none;
}

.data-table {
    border-collapse: collapse;
}

.data-table td, .data-table th {
    padding: 6px;
}

.data-table thead {
    font-weight: bold;
    background-color: #858686;
    color: black;
}

